
.rectangle{
	width:1000px;
	height:100px;
	background:white;
	border-style: solid;
	border-color:#3f51b5;
	border-width: 5px;
	line-height: 100px;
    float: right;
    margin-right: 100px;


}

.rectangle .rectangle_text {
    font-size: 30px;
}
			
.cercle {
    display:block;
    width:60px;
    height:60px;
    border-radius:50%;
    text-align:center;
    background: white;
	border-style: solid;
	border-color: #3f51b5;
	border-width: 5px;
    margin-left: 500px;
}

.cercle .cercle_text {
    display:block;
    font-weight:bold;
    font-size: 45px;
    line-height:60px;

}